@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@config "../../tailwind.config.mjs";

@layer base {
  :root {
    color-scheme: light dark;

    /* replace colors from here... */
    --light-mode-background: 235 235 235; /* 246, 248, 250 */
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --light-mode-icon-link-outline: 50 50 50;
    --light-mode-icon-link-background: 246 248 250;
    --light-mode-icon-link-text: 0 0 0;
    --light-mode-icon-link-outline-hover: 0 0 0;
    --light-mode-icon-link-background-hover: 255 255 255;
    --light-mode-icon-link-text-hover: 0 0 0;
    --light-mode-custom-link-outline: 50 50 50;
    --light-mode-custom-link-background: 246 248 250;
    --light-mode-custom-link-text: 0 0 0;
    --light-mode-custom-link-outline-hover: 0 0 0;
    --light-mode-custom-link-background-hover: 255 255 255;
    --light-mode-custom-link-text-hover: 0 0 0;

    --dark-mode-background: 13 17 23; /* #0D1117 Bunker */
    --dark-mode-foreground: 255 255 255; /* White */
    --dark-mode-foreground-muted: 156 163 175; /* Gray 400 */
    --dark-mode-icon-link-outline: 156 163 175;
    --dark-mode-icon-link-background: 31 41 55; /* Gray 800 */
    --dark-mode-icon-link-text: 255 255 255;
    --dark-mode-icon-link-outline-hover: 255 255 255;
    --dark-mode-icon-link-background-hover: 55 65 81; /* Gray 700 */
    --dark-mode-icon-link-text-hover: 255 255 255;
    --dark-mode-custom-link-outline: 156 163 175;
    --dark-mode-custom-link-background: 31 41 55;
    --dark-mode-custom-link-text: 255 255 255;
    --dark-mode-custom-link-outline-hover: 255 255 255;
    --dark-mode-custom-link-background-hover: 55 65 81;
    --dark-mode-custom-link-text-hover: 255 255 255;
    /* ...to here */
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 999;
  }
}
