---
import { SITE } from "@/siteConfig";
import { getEntry, render } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";

const entry = await getEntry("singlePages", "about");
const { Content } = await render(entry!);
---

<BaseLayout>
  <SeoPage slot="head" title={SITE.title} description={SITE.bio} />
  <main>
    <h1 class="mt-6 text-center text-balance text-4xl font-bold text-lightModeForeground dark:text-darkModeForeground">
      {entry && entry.data.title}
    </h1>
    <hr class="my-6 opacity-50" />
    <div class="prose mx-auto mb-16 dark:prose-invert">
      <Content />
    </div>

  </main>
</BaseLayout>
